{% extends 'accounts/base1.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'maotouying/css/jq22.css' %}">
    <script src="{% static 'maotouying/js/jquery.min.js' %}"></script>

{% endblock %}


{% block content %}
    <div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="{% url 'accounts:login' %}" method="post" class="container offset1 loginform">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="control-group">
                        <div class="controls">
                            <label for="email" class="control-label fa fa-envelope"></label>
                            <input id="email" type="email" name="email" placeholder="Email" tabindex="1" autofocus="autofocus" class="form-control input-medium">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="Password" tabindex="2" class="form-control input-medium">
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="{% url 'accounts:pswforget' %}" tabindex="5" class="btn pull-left btn-link text-muted">Forgot password?</a><a href="{% url 'accounts:register' %}" tabindex="6" class="btn btn-link text-muted">Sign Up</a>
                    <button type="submit" tabindex="4" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'maotouying/js/jquery.min.js' %}"></script>
    <script>
    $(function() {

        $('#login #password').focus(function() {
            $('#owl-login').addClass('password');
        }).blur(function() {
            $('#owl-login').removeClass('password');
        });
    });
    </script>
</div>
{% endblock %}